<div id="textsection">
    <div class="simpletext text-center">
      <h1> {{ section.settings.text-box }} </h1>
      <h3> {{ section.settings.text }} </h3>
    </div>
</div>

{% schema %}
    {
        "name":"Profile",
        "settings": [
            {
                "id": "text-box",
                "type": "text",
                "label" : "Name",
                "default": "Title"
            },
             {
                "id": "text",
                "type": "richtext",
                "label" : "Description",
                "default": "<p>Add your text here</p>"
            },
             {
                "id": "text-image",
                "type": "image_picker",
                "label" : "Upload Image"
            }
        ],
        "presets": [
            {
                "name": "Profile",
                "category": "Profile"
            }
        ]
    }
{% endschema %}